# default build directories used by vs/vscode
/out
/build

# various editor and extension config files/dirs
/.clangd
/.cache
/.vs
/.vscode

# vs build configuration
/CMakeSettings.json

# clangd vscode extension wants this in the root, but it is a build artifact
/compile_commands.json
